<!-- begin contacts -->
<div class="contacts">
	<div class="contacts__inner inner">
		<div class="contacts__out">
			<div class="contacts__wrap">
				<div class="contacts__col">
					<div class="contacts__country">
						<div class="contacts__flag">
							<img src="./img/flags/united-states-flag.svg" alt="flag">
						</div>
						<span>United States</span>
					</div>
					<div class="contacts__address">1000 NW 64th Ct. Suite 340. Miami, Florida 33132 </div>
					<a href="tel:1432456345" class="contacts__phone">1 432 456 345</a>
				</div>
				<div class="contacts__col">
					<div class="contacts__country">
						<div class="contacts__flag">
							<img src="./img/flags/uruguay-flag.svg" alt="flag">
						</div>
						<span>Uruguay (HQ)</span>
					</div>
					<div class="contacts__address">Dr. Mario Cassinoni 1011, 11400, Montevideo.</div>
					<a href="tel:+59845622769" class="contacts__phone">(+598) 45622769</a>
				</div>
			</div>
			<div class="contacts__menu">
				<div class="nav">
					<ul class="nav__list">
						<li class="nav__item">
							<a href="work.html" class="nav__link">Work</a>
						</li>
						<li class="nav__item">
							<a href="about.html" class="nav__link">About Us</a>
						</li>
						<li class="nav__item">
							<a href="services.html" class="nav__link">Services</a>
						</li>
						<li class="nav__item is-active">
							<a href="#" class="nav__link js-contact-us" data-goto="contact-us">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end contacts -->