<!-- begin header -->
<header class="header js-header">
	<div class="inner header__inner js-header-inner">
		<button class="header__btn-nav js-nav-btn">
			<span>
				<i></i>
			</span>
		</button>
		<a href="#" class="logo">
			{{mixins.icon('logo')}}
		</a>
		<a href="#" class="header__btn js-contact-us" data-goto="contact-us">Contact Us</a>
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item">
					<a href="#" class="nav__link {{workActive}}">Work</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link {{aboutActive}}">About Us</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link {{servicesActive}}">Services</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
<!-- end header -->