<!-- begin sm-product -->
<div class="sm-product">
	<div class="inner sm-product__inner">
		<div class="sm-product__body">
			<div class="sm-product__content">
				<h2 class="title-lg awesome-title sm-product__title">{{product.title | safe}}</h2>
				<div class="description sm-product__description">
					{{product.content | safe}}
				</div>
			</div>
		</div>
		<div class="sm-product__img {{product.imgClassList}}">
			{% if product.frame %}
				<div class="sm-product__frame">
					<img src="{{product.frame}}" alt="{{product.alt or 'Product'}}">
				</div>
			{% else %}
				<img src="{{product.img}}" alt="{{product.alt or 'Product'}}">
			{% endif %}
		</div>
	</div>
</div>
<!-- end sm-product -->