{% set works = [
	{
		img: "hero-1-crimen.jpg",
		type: "",
		title: "",
		text: ""
	},
	{
		position: "right",
		img: "hero-2-truco.jpg",
		type: "",
		title: "",
		text: ""
	},
	{
		img: "hero-3.jpg",
		type: "",
		title: "",
		text: ""
	},
	{
		position: "right",
		img: "hero-4-wohoo.jpg",
		type: "",
		title: "",
		text: ""
	},
	{
		img: "hero-5-smart.jpg",
		type: "",
		title: "",
		text: ""
	}
] %}

<!-- begin work -->
<div class="work">
	<div class="work__inner inner">
		<div class="work__text"></div>
	</div>
</div>
<!--  end work -->