.form
	position: relative
	&__row
		margin: 0 -15px
		+clr
	&__col
		float: left
		padding: 15px
		width: 100%
		&_md
			width: 50%
			+xs 
				width: 100%
	&__footer
		margin-top: -5px
		text-align: right
	&__submit
		position: relative
		display: inline-block
		vertical-align: top
		padding: 0 14px
		height: 40px
		color: $dark
		background: none
		font-family: $montserrat
		+f(13, normal, 0.5, 600)
		text-transform: uppercase
		+sm
			+f(12, null, 0.4)
		.icon
			position: absolute
			top: 50%
			right: 0
			margin-top: -5px
			font-size: 10px
	&__hint
		position: absolute
		top: 100%
		left: 0
		right: 0
		+sm 
			position: relative
			top: auto
		.is-success
			color: $green
		.is-error
			color: #de352e