.hero
	position: relative
	+cover
	&__inner
		padding-top: 310px
		padding-bottom: 473px
		color: $white
		+xl
			padding-top: 240px
			padding-bottom: 350px
		+lg
			padding-top: 150px
			padding-bottom: 300px
		+sm
			padding-top: 143px
			padding-bottom: 106px
	&__content
		max-width: 470px
		+sm 
			max-width: 200px
	&__title
		margin-bottom: 46px
		+sm 
			margin-bottom: 21px