.hero
	position: relative
	+cover
	&__inner
		padding-top: 310px
		padding-bottom: 473px
		color: $white
	&__content
		max-width: 470px
	&__title
		margin-bottom: 46px
	&__sm-services
		position: absolute
		left: 0
		right: 0
		bottom: 0