.sm-info
	color: $white
	background: $dark
	&__inner
		padding-top: 90px
		padding-bottom: 89px
	&__row
		margin: 0 -115px
		+clr
	&__col
		float: left
		padding: 30px 115px
		width: 50%
	&__header
		margin-bottom: 30px
		+clr
	&__icon
		float: left
		&_home-agency
			padding-right: 21px
			margin-left: -12px
		&_home-outsourcing
			padding-right: 27px
		.icon
			font-size: 70px
	&__title
		overflow: hidden
		max-width: 300px
	&__description
		opacity: 0.9
		+f(13, 19px, null, 400)