.sm-product
	&__img
		position: absolute
		top: -60px
		right: 0
		width: 789px
		font-size: 0
		pointer-events: none
		img
			width: 100%
	&__content
		padding: 63px 0 62px
		max-width: 460px
	&__title
		margin-bottom: 30px
	&__description
		color: $dark
		p + p
			margin-top: 19px