.icon-arrow-right {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-home-agency {
  width: 0.9em;
  height: 1em;
  fill: #FFF;
}
.icon-home-outsourcing {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-logo {
  width: 5.14em;
  height: 1em;
  fill: none;
}
