.icon-arrow-right {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-features-acquisition {
  width: 1.04em;
  height: 1em;
  fill: none;
}
.icon-features-design {
  width: 1.1em;
  height: 1em;
  fill: #3EFFDE;
}
.icon-features-development {
  width: 1.37em;
  height: 1em;
  fill: none;
}
.icon-features-retention {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-home-agency {
  width: 0.9em;
  height: 1em;
  fill: #FFF;
}
.icon-home-outsourcing {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-logo {
  width: 5.14em;
  height: 1em;
  fill: none;
}
